body{
background-size: cover;
}
canvas{
    border:5px solid limegreen;
    border-radius: 20px;
    box-shadow:5px 5px 5px greenyellow;
    position: sticky;
}
.copy-right-footer{
    position: fixed;
    color: black;
    bottom: 0;
    width: 100%;
    background-color:turquoise;
    line-height: 3;
    text-align: center;
    font-family: 'Times New Roman';
}
